{% extends 'base.html' %}

{% block content %}

<h1>Company</h1>

{% for product in dvds %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.summary }}</p>
                <p class="card-text">£{{ product.price }}</p>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}