{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}
<h1>Login here</h1>

<div class='container'>
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            {{ login_form | as_bootstrap }}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
            <a href="{% url 'home' %}" id="cancel" name="cancel" class="btn btn-outline-success my-2 my-sm-0">Cancel</a>
        </form>
    </div>
</div>

<div class="login-text">
    <p>If you do not have an account, you can <a href="{% url 'registration' %}">register here.</a></p>
    <p>If you have forgot your password, you can <a href="{% url 'password_reset' %}">reset here</a></p>
</div>

{% if messages %}
    <div>
        {% for message in messages %}
            {{ messages }}
        {% endfor %}
    </div>
{% endif %}

{% endblock %}